apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-myweb

resources:
  - php/edit/myweb-svc-deploy-edit.yml
  - php/login/myweb-svc-deploy-login.yml
  - php/regist/myweb-svc-deploy-regist.yml
  - php/php-deploy-svc.yml
  - mariadb/mariadb-deploy.yml
  - mariadb/mariadb-pv.yml
  - mariadb/mariadb-pvc.yml
  - ingress-myweb-svc.yml
  - myweb-ingress-rule.yml

configMapGenerator:
  - name: nginx-config
    files:
      - default.conf=php/nginx-config.yml

  - name: nginx-regist-conf
    files:
      - regist.conf=php/regist/nginx-regist.conf

  - name: php-index-file
    files:
      - index.php=php/index.php

  - name: login-php
    files:
      - index.php=php/login/index.php
      - login_ok.php=php/login/login_ok.php

  - name: edit-php
    files:
      - index.php=php/edit/index.php

  - name: regist-php
    files:
      - index.php=php/regist/index.php
      - regist_ok.php=php/regist/regist_ok.php

  - name: nginx-login-conf
    files:
      - nginx-login.conf=php/login/nginx-login.conf

generatorOptions:
  disableNameSuffixHash: true