apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - login/myweb-svc-deploy-login.yml
  - edit/myweb-svc-deploy-edit.yml
  - regist/myweb-svc-deploy-regist.yml
  - myweb-ingress-rule.yml
  # NodePort 서비스 추가
  - ingress-myweb-svc.yml
  # 공식 Ingress Controller 원본 리소스 (필수)
  - https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.14.0/deploy/static/provider/cloud/deploy.yaml

configMapGenerator:
  - name: login-html
    files:
      - index.html=login/index.html

  - name: edit-html
    files:
      - index.html=edit/index.html

  - name: regist-html
    files:
      - index.html=regist/index.html

generatorOptions:
  disableNameSuffixHash: true
