apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - login/myweb-svc-deploy-login.yml
  - edit/myweb-svc-deploy-edit.yml
  - regist/myweb-svc-deploy-regist.yml
  - myweb-ingress-rule.yml
  # 공식 Ingress Controller 원본 리소스
  - https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.14.0/deploy/static/provider/cloud/deploy.yaml

# Ingress Controller 설정 변경 (HostNetwork 적용)
patches:
  - target:
      kind: Deployment
      name: ingress-nginx-controller
      namespace: ingress-nginx
    patch: |-
      - op: add
        path: /spec/template/spec/hostNetwork
        value: true
      # NodePort 서비스가 불필요하다면 타입을 ClusterIP로 변경하거나 유지 (선택사항)
      # 여기서는 충돌 방지를 위해 hostNetwork 사용 시 DNS 정책도 함께 설정하는 것이 안전
      - op: replace
        path: /spec/template/spec/dnsPolicy
        value: ClusterFirstWithHostNet

configMapGenerator:
  - name: login-html
    files:
      - index.html=login/index.html

  - name: edit-html
    files:
      - index.html=edit/index.html

  - name: regist-html
    files:
      - index.html=regist/index.html

generatorOptions:
  disableNameSuffixHash: true
