# Prometheus 설정
prometheus:
  prometheusSpec:
    scrapeConfigNamespaceSelector:
      matchLabels: 
        test: "123"
    retention: 14d
    storageSpec: 
      emptyDir: {}
    podMetadata:
      labels: 
        coconut: enable
  service:
    type: NodePort
    nodePort: 30030
    labels:
      coconut: enable

# Grafana 설정
grafana:
  admin:
    existingSecret: grafana-pw   # secret name
    existingSecretKey: admin-password   # secret data
  persistence:
    enabled: false
  service:
    type: NodePort
    nodePort: 30031
    labels: 
      coconut: enable
  podLabels:
    coconut: enable

# Alertmanager 설정
alertmanager:
  enabled: true
  service:
    type: NodePort
    nodePort: 30032
    labels:
      coconut: enable
  alertmanagerSpec:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    podMetadata:
      labels:
        coconut: enable
    alertmanagerConfigSelector:
      matchLabels:
        alertmanagerConfig: slack