# Prometheus 설정
prometheus:
  prometheusSpec:
    scrapeConfigNamespaceSelector:
      matchLabels: 
        test: "123"
    retention: 14d
    storageSpec: 
      emptyDir: {}
    podMetadata:
      labels: 
        coconut: enable
  service:
    type: NodePort
    nodePort: 30030
    labels:
      coconut: enable

# Grafana 설정
grafana:
  admin:
    existingSecret: grafana-pw   # secret name
    existingSecretKey: admin-password   # secret data
  persistence:
    enabled: false
  service:
    type: NodePort
    nodePort: 30031
    labels: 
      coconut: enable
  podLabels:
    coconut: enable

# Alertmanager 설정
alertmanager:
  enabled: true
  service:
    type: NodePort
    nodePort: 30032
    labels:
      coconut: enable
  secret:
    - alertmanager-slack
  alertmanagerSpec:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
    podMetadata:
      labels:
        coconut: enable
  config:
    global:
      slack_api_url: "file:/etc/alertmanager/secrets/SLACK_API_URL"
    route:
      receiver: 'slack-notifications'
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 1h
    receivers:
      - name: 'slack-notifications'
        slack_configs:
          - channel: '#coconut-alert-test'   # Slack 채널명은 # 붙여야 함
            username: 'Alertmanager'
            icon_emoji: ':warning:'
            send_resolved: true
            title: '{{ .CommonAnnotations.summary }}'
            text: '{{ .CommonAnnotations.description }}'
